@model KJGarmentsWeb.Models.EditOfferModel
@{
    ViewBag.Title = "Edit";
}

    
}
<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/themes/default/style.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.js"></script>    
<script src="~/Scripts/jquery.validate.js"></script>    
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>  
 @if (TempData["Offer_Message"] != null)
 {
<script language="javascript">
    if (confirm('@TempData["Offer_Message"]' + "\nAre you OK to continue add offer?") == true) {
    }
    else {
        window.location.href = '@Url.Content("~/Offer/Index/{params}")';
    }

</script>
 }

@using (Html.BeginForm("Edit", "Offer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
  <div class="container">
       @Html.HiddenFor(model => model.splofferid)   
      <div class="row mrg-top-20">
           <div class="col-md-3">      
               <span class="mandatory">*</span>         
           </div>          
           <div class="col-md-5">
                @Html.TextBoxFor(model => model.offer_Code, null, new { @class = "pName disable", @data_animation = "slide", @data_label = "Offer Code", @readonly = true })
           </div>
           <div class="col-md-3">
               @Html.ValidationMessageFor(model => model.offer_Code)
           </div>
       </div>

       <div class="row mrg-top-20">
           <div class="col-md-3">     
               <span class="mandatory">*</span>          
           </div>           
           <div class="col-md-5">
                @Html.TextBoxFor(model => model.offer_Name, null, new { @class = "pName", @data_animation = "slide", @data_label = "Offer Name" })
           </div>
           <div class="col-md-3">
               @Html.ValidationMessageFor(model => model.offer_Name)
           </div>
       </div>   
       <div class="row mrg-top-20">
           <div class="col-md-3">     
               <span class="mandatory">*</span>          
           </div>           
           <div class="col-md-5">
                @Html.TextBoxFor(model => model.Description, null, new { @class = "pName", @data_animation = "slide", @data_label = "Offer Description" })
           </div>
           <div class="col-md-3">
               @Html.ValidationMessageFor(model => model.Description)
           </div>
       </div> 
     @* <div class="row mrg-top-20">
           <div class="col-md-3">     
               <span class="mandatory">*</span>          
           </div>           
           <div class="col-md-5">
                @Html.TextBoxFor(model => model.Type, null, new { @class = "pName", @data_animation = "slide", @data_label = "Type" })
           </div>
           <div class="col-md-3">
               @Html.ValidationMessageFor(model => model.Type)
           </div>
       </div>           
       <div class="row mrg-top-20">
           <div class="col-md-3">     
               <span class="mandatory">*</span>          
           </div>           
           <div class="col-md-5">
                @Html.TextBoxFor(model => model.usr_Category, null, new { @class = "pName", @data_animation = "slide", @data_label = "user Category" })
           </div>
           <div class="col-md-3">
               @Html.ValidationMessageFor(model => model.usr_Category)
           </div>
       </div>      *@
       <div class="row mrg-top-20">
           <div class="col-md-3">     
               <span class="mandatory">*</span>          
           </div>           
           <div class="col-md-5">
                @Html.TextBoxFor(model => model.StartDate, Model.StartDate.ToString("dd/MM/yyyy"), new { @class = "pName", @data_animation = "slide", @data_label = "Start Date", @type = "date", @Value = Model.StartDate.ToString("dd/MM/yyyy") })
           </div>
           <div class="col-md-3">
               @Html.ValidationMessageFor(model => model.StartDate)
           </div>
       </div>      
       <div class="row mrg-top-20">
           <div class="col-md-3">     
               <span class="mandatory">*</span>          
           </div>           
           <div class="col-md-5">
                @Html.TextBoxFor(model => model.EndDate, Model.EndDate.ToString("dd/MM/yyyy"), new { @class = "pName", @data_animation = "slide", @data_label = "Start Date", @type = "date", @Value = Model.EndDate.ToString("dd/MM/yyyy") })
           </div>
           <div class="col-md-3">
               @Html.ValidationMessageFor(model => model.EndDate)
           </div>
       </div>         
    <div class="row mrg-top-20">
           <div class="col-md-3">     
               <span class="mandatory">*</span>          
           </div>           
           <div class="col-md-5">
                @Html.TextBoxFor(model => model.MinQty, null, new { @class = "pName", @data_animation = "slide", @data_label = "Min Qty" })
           </div>
           <div class="col-md-3">
               @Html.ValidationMessageFor(model => model.MinQty)
           </div>
       </div>     
      <div class="row mrg-top-20">
           <div class="col-md-3">     
               <span class="mandatory">*</span>          
           </div>           
           <div class="col-md-5">
                @Html.TextBoxFor(model => model.MaxQty, null, new { @class = "pName", @data_animation = "slide", @data_label = "Max Qty" })
           </div>
           <div class="col-md-3">
               @Html.ValidationMessageFor(model => model.MaxQty)
           </div>
       </div>     
        <div class="row mrg-top-20">
           <div class="col-md-3">  
                <span ><img src="@Url.Content("~/Images/RESZIMGS/" + Model.AddBnrimageName)" alt="" width="75" height="75"></span>             
           </div>           
           <div class="col-md-3">
                  @Html.TextBoxFor(model => model.AddBannerImgpath, new { type = "file", @class = "upload-file" })
           </div>
          
           <div class="col-md-2">
             Upload Banner Ads Image 
                
           </div>
            <div class="col-md-3">                 
               
           </div>            
       </div> 
       
         @*<div class="col-md-1">
              
                  @Html.DropDownListFor(model => model.offer_id ,new SelectList(ViewBag.offers, "Value", "Text"),new { @class = "dropdown dropdown-small" }) 
           </div>
           <div class="col-md-3">               
               @Html.ValidationMessageFor(model => model.offer_id)
               <div class="validate"  style=visibility:hidden  id="divAT">Please enter the value 1 to 100</div>
               <div class="validate"  style=visibility:hidden  id="divrs">Please enter the value less than price</div>
           </div>  *@

      <div class="row mrg-top-20">
           <div class="col-md-3">               
           </div>           
           <div class="col-md-3">
            <div id="divtree" class="clstree">
            <ul id="tree" >
                  @if (!string.IsNullOrEmpty(Model.Discountpct.ToString()))
                  {
                <li class="jstree-checked">  
                    <a href="#" class="usr">@Model.Item_Name
                    @Html.TextBoxFor(model => model.Discountpct, String.Format("{0:f0}", Model.Discountpct).ToString(), new { id = "itemdiscountId", @class = "txtOffer" }) @Html.DropDownListFor(model => model.offer_id, new SelectList(ViewBag.offers, "Value", "Text"), new { @class = "dropdown dropdown-smaller", id = "itemOfrId" })
                    @Html.HiddenFor(model => model.menu_id, new { id = "itemMnuId" }) 
                   @Html.HiddenFor(model => model.origin, new { id = "itemOrigin" }) </a>
                    @Html.Partial("EditChildrens", Model)    
                </li>
                  }
                  else
                  {
                       <li>  
                    <a href="#" class="usr">@Model.Item_Name
                    @Html.TextBoxFor(model => model.Discountpct, String.Format("{0:f0}", Model.Discountpct).ToString(), new { id = "itemdiscountId", @class = "txtOffer" }) @Html.DropDownListFor(model => model.offer_id, new SelectList(ViewBag.offers, "Value", "Text"), new { @class = "dropdown dropdown-smaller", id = "itemOfrId" })
                    @Html.HiddenFor(model => model.menu_id, new { id = "itemMnuId" }) 
                   @Html.HiddenFor(model => model.origin, new { id = "itemOrigin" }) </a>
                    @Html.Partial("EditChildrens", Model)    
                </li>
                  }
            </ul>
            </div>
           </div>
           <div class="col-md-2">
              
           </div>
            <div class="col-md-3">                 
                    <div class="validate"  style=visibility:hidden  id="divAT">Please select one value</div>
                 <div class="validate"  style=visibility:hidden  id="divDiscount">Please enter Offer discount at least one value</div>
           </div>            
       </div>  


      <div class="row mrg-top-20">
           <div class="col-md-3">               
           </div>           
           <div class="col-md-2">
                 <button id='btnSubmit' type="submit" class="btnBlue sub-reset">Save</button>
           </div>
           <div class="col-md-2">
                 <h5 class="btnBlue sub-reset-cancel"> @Html.ActionLink("Cancel", "Index")</h5>
           </div>
           <div class="col-md-2">
                 <h5 class="btnBlue sub-reset-cancel">@Html.ActionLink("RESET", "Edit", Model.splofferid)</h5>
           </div>
       </div>
      <input type="hidden" name="PDT_Names" id="PDT_Names" value="" />
   
</div>
}

<script type="text/javascript">

    $(function () {

        var selected_node = $("#divtree").jstree('get_selected').attr('id');
        $("#divtree").jstree({
            checkbox: {
                real_checkboxes: true,
                "override_ui" : true,
                checked_parent_open: true,
                real_checkboxes_names: function (n) { return [("check_" + (n[0].id || Math.ceil(Math.random() * 10000))), n[0].id] }
            },
            
            plugins: ["html_data", "types", "themes", "ui", "checkbox"]
        })
        $("#divtree").bind("loaded.jstree", function (event, data) {
            // you get two params - event & data - check the core docs for a detailed description
           
            $(this).jstree("open_all");
            //data.inst.get_container().find('li').each(function(i) { 
            //    if($(this).data('initial_checked')==true){ 
            //        data.inst.check_node($(this)); 
            //    } 
            //    else
            //    {
            //        data.inst.check_node($(this)); 
            //    }
        })
        $('#MinQty').keypress(function (event) {
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
            //if (($(this).val().indexOf('.') != -1) && ($(this).val().substring($(this).val().indexOf('.'), $(this).val().indexOf('.').length).length > 2)) {
            //    event.preventDefault();
            //}
        })
        $('#MaxQty').keypress(function (event) {
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
            if (($(this).val().indexOf('.') != -1) && ($(this).val().substring($(this).val().indexOf('.'), $(this).val().indexOf('.').length).length > 2)) {
                event.preventDefault();
            }
        })

    });
    $(document).on('click', '#btnSubmit', function () {


        var checked_PDT_names = [];
        var checked_PDT_Discount_Value = [];
        var checked_PDT_OFRTYPE = [];
        var Item_Array = new Array();
        var cnt = 0;
        var chkdiscout = 0;
        $('#divtree').jstree("get_checked", null, true).each(function () {


            Item_Array[cnt] = { "Item": ($(this).children('a').text()), "discnt": $(this).children('a').find("#itemdiscountId").val(), "Offer": $(this).children('a').find("#itemOfrId").val(), "Menu": $(this).children('a').find("#itemMnuId").val(), "origin": $(this).children('a').find("#itemOrigin").val() };
            //  Item_Array[cnt] = { "key": ($(this).children('a').text()), "value": $(this).children('a').find("#itemdiscountId").val() + "~" + $(this).children('a').find("#itemOfrId").val() + "*" + $(this).children('a').find("#itemMnuId").val() + "$" + $(this).children('a').find("#itemOrigin").val() };
            var stritem = $(this).children('a').find("#itemdiscountId").val();

            if (stritem != "") {
                chkdiscout++
            }
            cnt++



        });
        if (cnt == 0) {
            document.getElementById("divAT").style.visibility = "visible";
        }
        else {
            document.getElementById("divAT").style.visibility = "hidden";
        }

        if (chkdiscout == 0) {
            document.getElementById("divDiscount").style.visibility = "visible";
        }
        else {
            document.getElementById("divDiscount").style.visibility = "hidden";
        }


        //setting to hidden field
        document.getElementById('PDT_Names').value = JSON.stringify(Item_Array);
        //document.getElementById('PDT_Discnt').value = checked_PDT_Discount_Value.join(",");
        //document.getElementById('PDT_OFRTYPE').value = checked_PDT_OFRTYPE.join(",");


    });


</script>