@using PagedList
@using PagedList.Mvc
@using GridMvc.Html
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/css/theme.default.css" rel="stylesheet" type="text/css" />
@model IPagedList<KJGarmentsWeb.Models.MnuSubcatProductDetails>
@{
    ViewBag.Title = "View Offers";
}
 

@using (Html.BeginForm())
{

  <div id="products-post">
                <div class="container">
                    <div class="row">
               
                     @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.PageNumbersOnly)
                 
             </div>
                    <div class="row" id="Container">
                         @{  
                                               
                                                System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
                            }
                        @* Loop start *@
                        @foreach (var item in Model) {  
                            
                            <div class="col-md-3 col-sm-6 mix portfolio-item home-img-panel">       
                                <div class="portfolio-wrapper  ">         
                                    <a href="@Url.Action("Index", "ImageDetails",new {id= @item.Pid},null)">       
                                    <div class="portfolio-thumb">
                                        @*<div id="container22">*@                                           
                                            <div id="infoi"><div class="circleBase type1">@Convert.ToInt32(item.Product_Offer).ToString()@item.offer</div></div>
                                        @*</div>*@
                                        
                                        <img class="img-fixed-size" src="@Url.Content("~/Images/RESZIMGS/" + item.Imagepath)" alt="" />
                                        <div class="hover">
                                            @*<div class="hover-iner">
                                                <a class="fancybox" href="@Url.Content("~/Images/RESZIMGS/" + item.Imagepath)"></a>
                                               
                                            </div>*@
                                        </div>
                                    </div>  
                                    <div class="label-text">
                                        @*<h3><a href="@Url.Action("Index", "ImageDetails",new {id= @item.Pid},null)">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>*@
                                        <h3>@Html.DisplayFor(modelItem => item.ProductName)</h3>
                                       @* <span class="price strik">@System.Configuration.ConfigurationManager.AppSettings["currency_code"]@(String.Format(Indian, "{0:N}",@item.Price))</span>*@
                                        <span class="price">@System.Configuration.ConfigurationManager.AppSettings["currency_code"]@(String.Format(Indian, "{0:N}",@item.DiscountPrice))</span>                                       
                                    </div>
                                    </a>
                                </div>          
                            </div>  
                            
                               
                        }    
                        @* Loop end *@
                        
                    </div>
                   
                       <div class="row">
                
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.PageNumbersOnly)
                 
             </div>
                    @if (Model.TotalItemCount == null || Model.TotalItemCount == 0)
{
                       <table border="1">
                           <tr>
                                 <h1><strong><span>No Offers found.</span></strong></h1>
                           </tr>

                       </table>
                      
}
                </div>
            </div>
}
