@model KJGarmentsWeb.Models.UserPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @if (TempData["CHNG_PWD"] != null)
{
<script>
    alert('@TempData["CHNG_PWD"]');
       
 
</script>
}

@using (Html.BeginForm("ChangePassword", "userInfo"))
{
    @Html.AntiForgeryToken()
   
    
    <div class="container">
         <div class="row mrg-top-xs">
           <div class="col-md-5"> 
                        
           </div>
           <div class="col-md-2">
              <h3> Change password </h3>
           </div>
        </div>
           <div class="row mrg-top-20">
               <div class="col-md-4">               
               </div>
               @*<div class="col-md-2">
                   User Name
               </div>*@
               <div class="col-md-3">
                     @Html.TextBoxFor(m => m.userName,new { @placeholder="Email Id"})
               </div>
               <div class="col-md-3">
                     @Html.ValidationMessageFor(m => m.userName)
               </div>
           </div>
           
             <div class="row mrg-top-20">
               <div class="col-md-4">               
               </div>
               @*<div class="col-md-2">
                   Password
               </div>*@
               <div class="col-md-3">
                      @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "Old Password" })
               </div>
               <div class="col-md-3">
                      @Html.ValidationMessageFor(m => m.OldPassword)
               </div>
             </div>

            <div class="row mrg-top-20">
               <div class="col-md-4">               
               </div>              
                <div class="col-md-3">
                      @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "New Password" })
               </div>
               <div class="col-md-3">
                      @Html.ValidationMessageFor(m => m.NewPassword)
               </div>


             </div>
           <div class="row mrg-top-20">
               <div class="col-md-4">               
               </div>              
                <div class="col-md-3">
                      @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })
               </div>
               <div class="col-md-3">
                      @Html.ValidationMessageFor(m => m.ConfirmPassword)
               </div>
               

             </div>

             <div class="row mrg-top-20">
               <div class="col-md-4">               
               </div>
               
               <div class="col-md-3">
                  <input type="submit" class="btnBlue" value="Change  Password" />
               </div>
               <div class="col-md-2">
                 <h5 class="btnBlue sub-reset-cancel"> @Html.ActionLink("Cancel", "Index","Home")</h5>
             </div>
                @* <div class="col-md-3">
                 @Html.ActionLink("Change  Password", "ChangePassword", "UserInfo", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
                  </div>*@
                 @*<div class="col-md-2">
              <h5 class="btnBlue sub-reset-cancel">
                     @Html.ActionLink("Signup", "Create", "UserInfo",null,new {  
@class = "openDialog",  
data_dialog_id = "aboutDialog",  
data_dialog_title = "Signup"  
}) </h5>
               </div>*@
               <div class="col-md-3">
                   
               </div>
             </div>

             
    </div>
    
    
}
